<!doctype html>
<html>

<head>
    <title>About
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            This app was created by Akash. It uses data from weatherstack and positionstack apis to fetch data for a location.
        </p>
        <img class="potrait" src="/img/profile.jpg"> 
    </div>
    {{>footer}}
</body>

</html>